{% extends 'gubookhub/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    About GU Book Hub
{% endblock %}


{% block style_block %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" />
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class="jumbotron-heading">About GU BookHub</h1>
    </div>
</div>
<div class="message">
	{{ aboutmessage }} <br />
</div>
<strong class="sub-message">This webapp has been put together by group 14F</strong> <br />
{% endblock %}
