{% extends 'gubookhub/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
    {% if course %}
        {{ course.title }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}


{% block body_block %}
    {% if course %}
        <h1>{{ course.title }}</h1>
        {% if books %}
        <ul>
            {% for book in books %}
                {% if book.url %}
                    <li>{{ book.title}} <br />
                    <a href="{{ book.url }}">Get book here</a><br />
                    Author: {{ book.author }} 
                    Posted by: {{ book.user }}
                    </li>
                {% else %}
                    <li>{{ book.title }} <br />
                        Author: {{ book.author }} <br />
                        Posted by: {{ book.user }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <strong>No books currently in this course.</strong>
        {% endif %}

        <br /><br />

        {# {% if user.is_authenticated %} #}
            <a href="{% url 'gubookhub_app:add_book' %}">Add Book</a> <br />
        {# {% endif %} #}
    {% else %}
        The specified course does not exist.
    {% endif %}
{% endblock %} 
