{% extends 'gubookhub/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
    {% if course %}
        {{ course.title }}
    {% else %}
        Unknown Course
    {% endif %}
{% endblock %}


{% block body_block %}
    {% if course %}
        <h1>{{ course.title }}</h1>
        {% if books %}
        <ul>
            {% for book in books %}
                <li>{{ book.title}} <br />
                Author: {{ book.author}}<br />
                Posted by: {{ book.user}} <br />
                    {% if book.url %}
                        <a href="{{ book.url }}">Reference link</a><br />
                    {% else %}
                        <form method="POST" action="{% url 'gubookhub_app:search' %}">
                            {% csrf_token %}
                            <input type="text" name="query" value="{{ book.title }}" hidden>
                            <input type="submit" value="Search the Web">
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No books currently in this course.</strong>
        {% endif %}

        <br /><br />

        {# {% if user.is_authenticated %} #}
            <a href="{% url 'gubookhub_app:add_book' %}">Add Book</a> <br />
        {# {% endif %} #}
    {% else %}
        The specified course does not exist.
    {% endif %}
{% endblock %} 
