{% extends 'gubookhub/base.html' %}
{% load staticfiles %}
{% load template_tags %}

{% block title_block %}
Homepage
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}

<div class="img-container">
	<img id="uofg-background" src="{% static 'uofg_header.jpeg' %}" alt="">
	<h1 id="title" class="centered">University of Glasgow BookHub</h1>
</div>

{% for message in messages %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}

<div>
	<h5 class="h5">
		{% if user.is_authenticated %}
		<!-- continue -->
		{% else %}
		<div class="alert alert-info" role="alert">
			Login to access more features!
		</div>
		{% endif %}
		</h2>
</div>

<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Filter Subjects</span>
	</div>
	<input id="subject-search-input" type="text" class="form-control" placeholder="e.g. Engi..." aria-label="Username"
		aria-describedby="basic-addon1">
</div>
<div id="subject-listing">
	<!-- subjects are retrieved from custom template -->
	{% get_subjects_cards %}
</div>

{% endblock %}