{% extends 'gubookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>University of Glasgow</h1>
    <div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
        Book Hub
        <strong>{{ boldmessage }}</strong>
    </div>

    <div>
        {% if user.is_authenticated %}
            Welcome to GU Book Hub {{ user.username }}
        {% else %}
            Login to access more features
        {% endif %}
    </div>

    <div>
        <h2> Subjects </h2>
        {% if subjects %}
        <ul>
        {% for subject in subjects %}
            <li><a href="{% url 'gubookhub_app:subject' subject.slug %}">{{ subject.name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no Subjects present.</strong>
        {% endif %}
    </div>

    <div>
        <h2>Popular resources</h2>
        {% if courses %}
        <ul>
        {% for course in courses %}
            <li><a href="{% url 'gubookhub_app:course' course.subject.slug course.title%}">{{ course.title }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>There are no courses present.</strong>
        {% endif %}
    </div>
{% endblock %}
