h1 {
    font-size: 45pt;
    font-weight: bold;
    color: black; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label{ 
    font-size: 14pt;
    font-weight: 300;
    color: grey; 
    font-family: sans-serif;
}

.btn.btn-lg.btn-danger.btn-block{
    font-size: 18pt;
    font-weight: 300;
    color: white; 
    font-family: sans-serif;

    max-width: 200px;
    padding: 5px;
    margin: 0 auto;
}

.form-group{
    max-width: 600px;
    padding: 5px;
    margin: 0 auto;
}
.form-field{
    font-size: 12pt;
    font-family: sans-serif;
}
.form-text.text-muted{
    font-size: 10pt;
    font-weight: 300;
    color: black; 
    font-family: sans-serif;
}