{% extends 'gubookhub/base.html' %}
{% load staticfiles %} 
{% load widget_tweaks %}

{% block title_block %}
    Change Password
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}


{% block body_block %}
<div class="jumbotron p-4">
	<div class="container">
		<h1 class="jumbotron-heading">Change your Password</h1>
    </div>
</div>

<div class="container">
    <div class="p-2 py-2">
      <div class="justify-content-between align-items-center mb-5">
        <div class="form-group">
          <form method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <label class='label'>{{ field.label }}:</label>
                    <p class="form-field"> {% render_field field class="form-control" placeholder="- - - -" %}</p>
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endfor %}
            </div>
            <input class="btn btn-lg btn-danger btn-block" type="submit" name="submit" value="Save" />
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}